.footer{
    background-color: rgb(49, 44, 44);
    align-items: center;
    height: 150px;
    width: 100vw;
}
.fh1{
    color: antiquewhite;
    text-align: center;
}
.fh5{
    color: antiquewhite;
    text-align: center;
}